<%= form_for @pint, html: { multipart: true } do |f| %>
  <% if pint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pint.errors.count, "error") %> prohibited this pint from being saved:</h2>

      <ul>
      <% pint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :image, "Image" %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description, "Description" %>
    <%= f.text_field :description, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit 'New Pint', class: 'button--action__new-pint btn btn-primary' %>
  </div>
<% end %>
