<div id="pints" class="transitions-enabled">
  <% @pints.each do |pint| %>
    <div class="box">
      <div class="panel panel-default">
        <%= link_to image_tag(pint.image.url(:medium)), pint %></br>
        <div class="panel-body">
          <% if pint.description.present? %>
            <%= pint.description %></br>
          <% else %>
            <i>No description available</i></br>
          <% end %>
          <br/><strong><%= pint.user.name if pint.user %></strong><br/>
        </div>
        <% if pint.user == current_user %>
          <div class="panel-footer">
            <%= link_to 'Edit', edit_pint_path(pint) %>
            <%= link_to 'Destroy', pint, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="center">
  <%= will_paginate @pints, renderer: BootstrapPagination::Rails %>
</div>
