<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading center">
				<%= image_tag @pint.image.url(:medium) %>
			</div>
			<div class="panel-body">
				<%= @pint.description %><br/>
				</br><%= @pint.user.name %></br>
				<% if @pint.user == current_user %>
					<%= link_to 'Edit', edit_pint_path(@pint) %>
				<% end %>
				<%= link_to 'Back', pints_path %>
			</div>
		</div>
	</div>
</div>